.cartesian-chart {
}

.plot-area {
  background: url("../../../gfx/logo-watermark.svg") center no-repeat;
  background-size: min(400px, 100%);
}

.x-axis path,
.y-axis path {
  stroke: currentColor;
}

.x-axis text,
.y-axis text {
  fill: currentColor;
}



.tools{
  width: 8%;
  height: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}